@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800');

#root {
	font-family: 'Fraunces', serif !important;
}

body {
	font-family: 'Fraunces', serif !important;
}

.hero_section_main {
	background-image: url('./assets/images/hero-bg.jpg');
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
	opacity: 1;
	visibility: inherit;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
}
