@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.menu_area {
		display: flex;
		/* gap: 5; */
		align-items: center;
		justify-content: space-evenly;
		cursor: pointer;
	}
}
